version: '3.4'

services:
    proxy:
        image: nginx:alpine
        ports:
            - "13501:80"
        volumes:
            - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
        depends_on:
            - identity-api

    identity-api:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "13502:80"
        environment:
            ASPNETCORE_ENVIRONMENT: docker
        depends_on:
            - mssql

    mssql:
        restart: always
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
            - "1433:1433"
        environment:
            ACCEPT_EULA: Y
            SA_PASSWORD: Passw0rd123
            MSSQL_PID: Express