<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ConsoleApp" Description="Code analysis rules" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <!-- Closing parenthesis must be spaced correctly -->
    <Rule Id="SA1009" Action="None" />

    <!-- Avoid using out parameters -->
    <Rule Id="CA1021" Action="None" />

    <!-- Avoid using out parameters -->
    <Rule Id="SA1111" Action="None" />
    
    <!-- Using directives must be placed correctly -->
    <Rule Id="SA1200" Action="None" />
    
    <!-- Elements must appear in the correct order -->
    <Rule Id="SA1201" Action="None" />
    
    <!-- System Using directives must be placed before other using directives -->
    <Rule Id="SA1208" Action="None" />

    <!-- Fields must be private -->
    <Rule Id="SA1401" Action="None" />

    <!-- Negative signs must be spaced correctly -->
    <Rule Id="SA1402" Action="None" />
    
    <!-- Opening braces must not be followed by blank line -->
    <Rule Id="SA1505" Action="None" />

    <!-- A C# code file is missing a standard file header -->
    <Rule Id="SA1633" Action="None" />
    
    <!-- Negative signs must be spaced correctly -->
    <Rule Id="SA1028" Action="Error" />
    
    <!-- Prefix local calls with "this." -->
    <Rule Id="SA1101" Action="Error" />
    
    <!-- Readonly elements must appear before non-readonly elements --> 
    <Rule Id="SA1214" Action="Error"/>

    <!-- Element must begin with UpperCase letter -->
    <Rule Id="SA1300" Action="Error" />

    <!-- Field names must begin with lowercase letter -->
    <Rule Id="SA1306" Action="Error" />
    
    <!-- variable names must not be prefixed (m_, s_) -->
    <Rule Id="SA1308" Action="Error" />

    <!-- Field names must not begin with underscore -->
    <Rule Id="SA1309" Action="Error" />

    <!-- Closing braces must not be preceded by blank line -->
    <Rule Id="SA1508" Action="Error" />
  </Rules>
</RuleSet>