<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ConsoleApp" Description="Code analysis rules" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="SA1009" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1101" Action="Error" />
    <Rule Id="SA1309" Action="Error" />
  </Rules>
</RuleSet>