<div style="background-color: black; padding: 10px; box-sizing: border-box">
    <h1 style="color: white; font-size: 26px">Email confirmation</h1>
</div>
<div style="background-color: white; color: black; padding: 10px; box-sizing: border-box">
    <span>Confirm your email registration via this <a href={{link}}>link</a>.</span>
</div>